h2:hover
{
    color: red;
}
#about-me
{
    color: blue;
}
.contact-us
{
    color: green;
}
#google-com:link
{
    color: red;
}
#google-com:visited
{
    color:turquoise;
}
li:first-child
{
    color:purple;
}
li:last-child
{
    color:green;
}
li:nth-child(2)
{
    color:blue;
}